@import "~style/variables.less";

.header {
	.image-container {
		float:left;
		margin-right:@spacing;
	}

	.title-container {
		float:left;	

		.title {
			font-size: 1.5em;
		}

		.authour {
			color:@grey-font-colour;
			font-size:0.8em;
			display:block;
			margin-top:-3px;
		}
	}
}